/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: antiquewhite;
    
}
.count{
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: brown;
    padding: 400px;
} */

/* #clock{
    font-size: 70px;
    text-align: center;
    color: brown;
    padding: 40px;
    border: 2px black solid ;
    border-radius: 20px;
    width: 500px;
    height: 200px;
    margin: 200px 200px;
} */
.btn{
    border-radius: 15px;
    box-shadow: 4px 4px lightblue;
}
/* .table{
    th{
        height: 60px;
        text-align: center;
        padding: 15px;
    }
}  */


/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    background-color: gray;
}
.flex-container>div{
    box-shadow: 5px 5px lightblue;
    padding: 10px 10px;
    width: 180px;
    height: 200px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    margin: 10px;
    background-image: url("img_avatar6.png");
    
}
.a1{
    flex-wrap: wrap;
    display: flex;
    color: aliceblue;
} */
/* task5 */

/* .flex-container{
    display: flex;
    flex-wrap: wrap;
    
}
.photos{
    border: 2px solid black;
    margin: 10px;
    
}
.ttl{
    height: 100px;
    text-align: center;
} */
/* 6.task */
.table{
    th{
        height: 60px;
        text-align: center;
        padding: 15px;
    }
} 
